@import "./scrollbar.css";
@import "./universal.css";
@import "./root.css";
@import "./enum.css";


:where(a) {
  color: inherit;
  text-decoration: inherit;
}
:where(ul, ol, li) {
  padding: 0;
  list-style: none;
}
:where(h1) {
  font-size: 2em;
}
:where(h2) {
  font-size: 1.5em;
}
:where(h3) {
  font-size: 1.17em;
}
:where(h4) {
  font-size: 1.00em;
}
:where(h5) {
  font-size: 0.83em;
}
:where(h6) {
  font-size: 0.67em;
}
:where(hr) {
  border-style: solid;
  border-width: 1px;
  color: inherit;
  overflow: visible;
  border-top-width: 1px;
}
:where(abbr[title]) {
  text-decoration: underline dotted;
}
:where(pre) {
  display: block;
  white-space: pre-wrap;
}
:where(b, strong) {
  font-weight: bolder;
}
:where(blockquote, q) {
  quotes: none;
}
:where(blockquote:before, blockquote:after, q:before, q:after) {
  content: '';
  content: none;
}
:where(table) {
  border-collapse: collapse;
  border-spacing: 0;
}
:where(img, video) {
  max-width: 100%;
  height: auto;
}
:where(textarea) {
  resize: none;
}
:where(button, [role="button"]) {
  cursor: pointer;
}
:where(:disabled) {
  cursor: default;
}
:where([hidden]:where(:not([hidden="until-found"]))) {
  display: none;
}