:where(:root, :host) {
  cursor: default;
  line-height: 1.6;
  overflow-wrap: break-word;
  overflow: auto;
  tab-size: 4;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -moz-tab-size: 4;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
}
:where(body) {
  min-height: 100lvh;
  max-width: 100lvw;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}